<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Casa do Código - Livros sobre Node JS</title>
</head>
<body>
    <h3>Home</h3>
    <a href="/produtos">Listar produtos</a>
    <a href="/produtos/form">Cadastrar um novo produto</a>

</body>
</html>