<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Casa do Código - Listando produtos</title>
</head>

<body>
    <table border="1">
        <thead>
            <th>ID</th>
            <th>NOME</th>
            <th>DESCRICAO</th>
            <th>VALOR</th>
        </thead>
        <tbody>
            <% for(var i = 0;i < lista.length; i++) { %>
                <tr>
                    <td>
                        <%= lista[i].ID %>
                    </td>
                    <td>
                        <%= lista[i].NOME %>
                    </td>
                    <td>
                        <%= lista[i].DESCRICAO %>
                    </td>
                    <td>
                        <%= lista[i].VALOR %>
                    </td>
                </tr>
                <% } %>
        </tbody>

    </table>
    <a href="/">Voltar para home</a>
</body>

</html>